* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

body, a, p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-inline-start: 0;
}

img {
    max-width: 100%;
}



.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bmw_bg.jpg);
    background-size: cover;
    background-repeat: none;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 1em 0;
}

.header__container {
    width: 960px;
    margin: 0 auto;
}

.header__hero-text {
    max-width: 70%;
    position: absolute;
    bottom: 10%;
}

.main__container {
    width: 1080px;
    margin: 0 auto
}

.main-nav__ul, .nav-icons__ul {
    display: flex;
    align-items: center;
}

.main-nav__li, .nav-icons__li {
    margin: 0 1.5em;
}
.main-nav__a {
    font-weight: bold;
    color:white;
}



.nav-icons__a {
    color: white;
}

.nav-icon__logo {
    width: 25px;
}

.hero-text__h2 {
    font-size: 2em;
    margin: 15px 0;
    color: white;
}

.hero-text__h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: white;
}

.hero-text__btn {
    background-color: #006fb9;
    border: none;
    color: white;
    padding: 1em 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main {
    padding: 1em 0;
}

.filter-nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

.filter-nav__li:hover {
    border-bottom: 4px solid #006fb9;
}

.filter-nav__a {
    display: block;
    padding: 1em;
    color: black;
}

.filter-nav__a:hover {
    font-weight: bold;
}

.filter-nav__li--active {
    border-bottom: 4px solid #006fb9;
}

.filter-nav__a--active {
    font-weight: bold;
}

.products__product-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
}

.product-gallery__item {
    width: 25%;
    padding: 1em 0.5em;
}

.item__a:hover {
    filter: grayscale(100%);
}