* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

body, a, p {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.4;
}

ul {
    padding-inline-start: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

hr {
    margin: 1em 0;
    border: 2px solid #006fb9;
}

.icon__img {
    margin-top: 1em;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bmw_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 1em 0;
}

.header__container {
    width: 960px;
    margin: 0 auto;
}

.header__hero-text {
    max-width: 70%;
    position: absolute;
    bottom: 10%;
}

.main__container {
    width: 1080px;
    margin: 0 auto
}

.main-nav__ul, .nav-icons__ul {
    display: flex;
    align-items: center;
}

.main-nav__li, .nav-icons__li {
    margin: 0 1.5em;
}
.main-nav__a {
    font-weight: bold;
    color:white;
}

.main-nav__a:hover {
    text-decoration: underline;
}

.nav-icons__a {
    color: white;
}

.nav-icon__logo {
    width: 25px;
}

.hero-text__h2 {
    font-size: 2em;
    margin: 15px 0;
    color: white;
}

.hero-text__h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: white;
}

.hero-text__btn {
    background-color: #006fb9;
    border: none;
    color: white;
    padding: 1em 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.main {
    padding: 1em 0;
}

.filter-nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

.filter-nav__li:hover {
    border-bottom: 4px solid #006fb9;
}

.filter-nav__a {
    display: block;
    padding: 1em;
    color: black;
}

.filter-nav__a:hover {
    font-weight: bold;
}

.filter-nav__li--active {
    border-bottom: 4px solid #006fb9;
}

.filter-nav__a--active {
    font-weight: bold;
}

.overlay {
    overflow: hidden;
}

.products__product-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    padding: 1em 0;
    
}

.product-gallery__item {
    width: calc(25% - 1em);
    padding: 0 0 2em;
}

.item__link {
    color: #006fb9;
}

.item__link:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.item__img {
    transition: transform 0.3s;
}

.item__img:hover {
    transform:  scale(1.2);
}

.section__services {
    display: flex;
    gap: 1em;
    padding: 2em 0;
}

.services__service-info {
    width: 25%;
    padding: 1em;
    border: 1px solid #b8b8b8;
}

.section__extra-info {
    display: flex;
    gap: 1em;
    padding: 2em 0;
}

.extra-info__item {
    width: 50%;
    padding: 1em;
    border: 1px solid #b8b8b8;
}

.section__service-icons {
    display: flex;
    gap: 1em;
    padding: 2em 0;
}

.service-icons_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    width: 25%;
    padding: 1em 0;
}


.footer {
    background-color: #e5e5e5;
}

.footer__container {
    width: 1080px;
    margin: 0 auto;
    padding: 4em 0;
    display: flex;
    gap: 1em;
}

.footer__nav {
    width: 25%;
}

.footer-nav__li {
    margin: 0.5em 0;
}

.footer-nav__a, .legal-nav__a {
    color: #8f8f8f;
    font-weight: bolder;
}

.footer-nav__a:hover, .legal-nav__a:hover {
    text-decoration: underline;
}

.footer__container--info {
    width: 1080px;
    margin: 0 auto;
    padding: 4em 0;
}

.footer__info-nav {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    
}

.legal-nav__ul {
    display: flex;
    gap: 1em;
}